.bg-travelproductdetail {
  background-color: #f5f5f5;
}
.travelproductdetail-head-path {
  font-size: small;
  color: black;
}

.content-travelproductdetail {
  background-color: white;
  border-radius: 2px;
  /* border-style: solid;
    border-width: 1px;
    border-color: #dee2e6; */
}
.travelproductdetail-tab .nav-link,
.travelproductdetail-tab .nav-link.active {
  color: black;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
}

.travelproductdetail-tab .nav-link {
  background: 0 0;
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: #dee2e6;
  border-radius: 0rem;
  background-color: #f5f5f5;
}
.travelproductdetail-tab {
  background-color: #f5f5f5;
}
.boder-content-travelproduct {
  border: 1px solid;
  border-top: none;
  border-color: #dee2e6;
}
ul.mb-3.travelproductdetail-tab.nav.nav-tabs {
  margin-bottom: 0rem !important;
}
.content-travelproduct-detail {
  font-size: 14px;
  padding: 30px;
}
.travelproduct-sellby {
  font-size: 14px;
  background-color: white;
  border: 1px solid;
  border-color: #dee2e6;
  height: 100%;
}
.travelproductdetail-price {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #dee2e6;
}
.travelproduct-content-review {
  border: 1px solid;
  border-color: #dee2e6;
  background-color: white;
  margin-top: 10px;
  padding: 30px;
}

.travelproduct-review {
  border-bottom: 1.5px solid;
  border-color: #dee2e6;
}
.travelproduct-review-row {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
}
.travelproduct-review-date {
  margin-top: 5px;
  color: #808080;
}
.travelproduct-review-detail {
  margin-top: 10px;
}
.travelproduct-review-point {
  color: #69b767;
  font-weight: bold;
  font-size: 16px;
}
.travelproduct-review-getpoint {
  font-size: 40px;
}
.travelproduct-near {
  padding-top: 40px;
  padding-bottom: 40px;
}
.travelproduct-disprice {
  text-decoration: line-through;
  color: gray;
  font-size: small;
  margin-top: 10px;
}
.travelproduct-redprice {
  font-size: large;
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
.travelproduct-item-number {
  font-size: medium;
  color: gray;
}
.travelproduct-store {
  color: rgb(0, 153, 255);
}

.travelproduct-btn-buy {
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  background-color: rgba(8, 214, 8, 0.836);
  border-color: white;
  width: 100%;
  height: 120%;
}
.travelproduct-btn-buy:focus,
.travelproduct-btn-buy:hover,
.travelproduct-btn-buy:active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
  box-shadow: 0 0 0 0 rgba(8, 214, 8, 0.836);
}

.travelproduct-btn-add {
  background-color: #f5f5f5;
  border-color: rgba(8, 214, 8, 0.836);
  border-width: 2px;
  width: 100%;
  height: 120%;
  color: black;
}
.travelproduct-btn-add:focus,
.travelproduct-btn-add:hover,
.travelproduct-btn-add:active:focus {
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  background-color: rgba(8, 214, 8, 0.836);
  border-color: rgba(8, 214, 8, 0.836);
  border-width: 2px;
  width: 100%;
  height: 120%;
  box-shadow: 0 0 0 0 rgba(8, 214, 8, 0.836);
}
.travelproduct-page-review {
  margin-top: 30px;

  justify-content: center;
}

.page-review.page-item.active,
.page-review.page-item {
  padding: 5px;
}

.page-review.page-item .page-link {
  margin-left: -1px;
  border-radius: 10px;
  text-align: center;
}
.page-review.page-item.active .page-link {
  z-index: 3;
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  background-color: white;
  border-color: grey;
}
.page-review.page-item .page-link,
.page-review.page-item .page-link:focus {
  z-index: 3;
  color: grey;
  background-color: white;
  border-color: grey;
  box-shadow: 0 0 0 0 rgba(8, 214, 8, 0.836);
}

.btn-travelproductdetail-color,
.btn-travelproductdetail-color.btn-primary:hover {
  color: gray;
  border-color: gray;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #f5f5f5;
  border: 2px solid;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.btn-travelproductdetail-color.btn-primary:active {
  color: black;
  background-color: #f5f5f5;
  border-color: rgba(8, 214, 8, 0.836);
  box-shadow: 0 0 0 0rem white;
}

.btn-check:checked + .btn-primary,
.btn-check:checked + .btn-primary:focus {
  color: black;
  background-color: #f5f5f5;
  border-color: rgba(8, 214, 8, 0.836);
  box-shadow: 0 0 0 0rem white;
}

.btn-travelproductdetail-color.btn-primary:focus {
  color: black;
  background-color: white;
  border-color: rgba(8, 214, 8, 0.836);
  box-shadow: 0 0 0 0rem white;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem white;
}
.btn-incrementNumber {
  color: white;
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  border: 1px solid #E8E8E8;
  width: 10%;
  height: 30px;
}
.btn-decreaseNumber {
  color: gray;
  background-color: #E8E8E8;
  border: 1px solid #E8E8E8;
  width: 10%;
  height: 30px;
}
.pic_productsmall{
  width: 20%;
  float: left;
}
.pic_productbig{
  width: 80%;
  float: left;
}





