.provincedetail {
  margin-top: 4%;
  margin-bottom: 4%;
  box-shadow: rgb(149 157 165 / 20%) 1px 8px 24px;
 
}
.greenlocation {
  color: rgb(4, 206, 4);
  font-size: small;
  margin-bottom: 1%;
}
.titlelocation {
  font-weight: bold;
  font-size: large;
  margin-bottom: 1%;
}
.thailand {
  margin-bottom: 3%;
}


.tab-procinve  .nav-link, .tab-procinve .nav-link.active {
  color: white;
  background-color: gray;
  border-color: #dee2e6 #dee2e6 #fff;
  background-image: linear-gradient(to right, rgba(0, 221, 111, 0.856) , rgba(4, 148, 100, 0.733));
}
.tab-procinve .nav-link {
  background: 0 0;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: rgba(189, 189, 189, 0.493);
  color: gray;
  border-radius: 20px;
  width: 170px;
  margin-right: 8px;
 margin-left: 8px; 
}
.tab-procinve {
  border-bottom: none;
}
.mb-4 nav .nav-tabs{
margin-left: 100px;
}


.provinec-pic {
  position: relative;
  text-align: center;
  color: white;
}


.provinec-name {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.Nav-link,.Nav-link:focus,.Nav-link:hover{
  color: black;
  padding: 0px;
}
li{
  list-style: none;
}