.layoutmenubtn {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: ghostwhite;
}

.tabbtnmenu {
  justify-content: center;
}
.fontmenubtn {
  margin-top: 3px;
}
.menubtn {
  justify-content: center;
}
.tabmenu {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
}
.todaymenu {
  margin-top: 30px;
}
.hotelmenu {
  margin-top: 30px;
}

.categoryarrow {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
}
.ads175 {
  width: 100%;
  height: 100%;
}
.ads380 {
  width: 100%;
  height: 100%;
}
.ads {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}
.categorymenu {
  margin-top: 30px;
}
.categorypic {
  width: 45%;
  border-radius: 500%;
  box-shadow: rgb(149 157 165 / 20%) 1px 8px 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.categorytext {
  text-align: center;
}
.thailandmenu {
  margin-top: 30px;
  margin-bottom: 30px;
}
.thaipic {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  filter: contrast(50%) ;
}
.textregister {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.seeall {
  text-align: end;
}
.btn-seeall {
  justify-content: end;
  margin-top: 10px;

  text-align: end;

  color: black;
}

.footmenu {
  background-color: ghostwhite;
}
.disprice {
  text-decoration: line-through;
  color: gray;
  font-size: small;
  margin-top: 10px;
}
.detailprice {
  color: gray;
  font-size: small;
}
.location {
  color: rgb(82, 192, 255);
  font-size: small;
}

.redprice {
  font-size: large;
  color: red;
  font-weight: bold;
}
.greenprice {
  font-size: large;
  color: rgb(0, 197, 0);
  font-weight: bold;
}
.btn-start {
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  background-color: rgba(8, 214, 8, 0.836);
  border-color: white;
  font-weight: bold;
}
.slick-next:before,
.slick-prev:before {
  font-size: 30px;

  border-radius: 100%;
  margin-left: 20px;

  opacity: 1;
  color: gray;
  background-color: white;
}

.slick-next,
.slick-prev {
  font-size:30;
  line-height: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
}
.slick-prev {
  left: -30px;
  z-index: 99;
}
.slick-next {
  right: 20px;
  z-index: 99;
}
