

.ForgotPassword{
    background: #c9e7e7;
    background-size: cover;
    text-align: center;
  }
.inputForgotPassword{
    margin-top: 10% ;
    margin-left: 20% ;
    margin-bottom:15% ;
    margin-right: 20% ;
    padding: auto;
    background-color: white;
    border-radius: 6px;
    display:inline-block;
}

.title-verify{
    font-size: 24px;
    text-align: left;
    margin-left:10%;
}
.select-verify{
    font-size: 14px;
    color: gray;
    text-align: left;
    margin-left:10%;
}
.tabSelect{
    text-align: left;
    margin-left:10%;
    border: none;
}

