.footmenu {
  background-color: #F5F5F5;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.head{
 font-size: 15px;
 font-weight: bold;
}
.menu{
font-size: 14px;
padding-left:1%;
padding-top: 1%;
}