.Navbarpic{
    width: 120px;
}
.NavbarpicSize{
    width: 80%;
}
.fontNavbar{
    font-size: 14px;
}
.infor-link,.infor-link:focus,.infor-link:hover{
    padding: 0;
    color: black;
}
.nav-shadow{
    box-shadow: rgb(149 157 165 / 20%) 1px 8px 24px;
}