.information-bg {
  background-color: #f5f5f5;
}
.content-bg {
  background-color: white;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #dee2e6;
}
.favorites-card {
  padding-top: 10px;
}
.favorites-row {
  padding-bottom: 30px;
}
.favorites-tab .nav-link,
.favorites-tab .nav-link.active {
  color: black;
  background-color: white;
  border-bottom-color: #69b767;
}
.favorites-tab .nav-link {
  background: 0 0;
  border-bottom: 5px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0rem;
}
.favorites-tab {
  border-bottom: none;
}
.address-btn {
  text-align: end;
  margin-top: 10px;
}
.submit-address {
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  background-color: rgba(8, 214, 8, 0.836);
  border-color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
}
.submit-address:focus,
.submit-address:hover,
.submit-address:active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
  box-shadow: 0 0 0 0.25rem rgba(8, 214, 8, 0.836);
}
.address-form {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 5%;
}
.btn-clear-data-address,
.btn-clear-data-address:focus,
.btn-clear-data-address:hover,
.btn-clear-data-address:active
.btn-clear-data-address:active:focus{
  color: rgba(8, 214, 8, 0.836);
  background-color: white;
  border: none;
  box-shadow: none;
  text-decoration: underline;

}
.address-head {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dee2e6;

}

.tab-infor .nav-link,
.tab-infor .nav-link.active {
  color: black;
  background-color: #f6f9fe;
  border-color: #69b767;
}
.tab-infor .nav-link {
  background: 0 0;
  border-left: 10px solid transparent;
  border-radius: 0rem;
  color: gray;
}
.tab-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}
.tab-menu-titel {
  padding: 0.5rem 1rem;
  border-left: 10px solid transparent;
  font-size: large;
  color: #8b8b8b;
}
.head-body-info {
  border-bottom: 1px solid;
  border-color: rgba(214, 211, 211, 0.959);
}

.info-btn {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.circle-image{
  background-color:#f5f5f5 ;
  border: 1px solid rgba(214, 211, 211, 0.959);
  width: 100px;
  height: 100px;
  text-align: left;
  margin-left: 11px;
  border-radius: 50px;
}
.fa-user{
  font-size: 40px;
  margin-top: 25px;
  margin-left: 20px;
  color:rgba(214, 211, 211, 0.959);
}
.submit-info {
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(46, 179, 202, 0.733)
  );
  border-color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
}
.data-info {
  border-bottom: 2px solid;
  border-color: rgba(214, 211, 211, 0.959);
}
.footer-title {
  border-bottom: 1px solid;
  border-color: rgba(214, 211, 211, 0.959);
}

.addcard-btn {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.submit-addcard {
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  background-color: rgba(8, 214, 8, 0.836);
  border-color: white;
  font-weight: bold;
  width: 150px;
  height: 50px;
  margin-right: 10%;
}
.head-credit {
  border-bottom: 1px solid;
  border-color: rgba(214, 211, 211, 0.959);
}

.visa-logo {
  width: 90px;
  height: 60px;
}

.reset-card {
  border:2px solid #49c44d;
  font-weight: bold;
  width: 150px;
  height: 50px;
}
.reset-card-btn{
  text-align: left;
}
.body-card{
  border-bottom: 2px solid;
  border-color: rgba(214, 211, 211, 0.959);

}
.history-tab {
  border-bottom: none;
}


.history-tab .nav-link,
.history-tab .nav-link.active {
  color: black;
  background-color: white;
  border-bottom-color: #69b767;
}

.history-tab .nav-link {
  background: 0 0;
  border-bottom: 5px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0rem;
}
.head-book-history{
  background-color: #f7f9fc;
  color: #8b8b8b;
}
.shop-history{
  border-bottom: 2px solid;
  border-color: rgba(214, 211, 211, 0.959);
}
.head-shop-history{
  border-bottom: 1px solid;
  border-color: rgba(214, 211, 211, 0.959);
}
.shop-logo{
  width: 20px;
}
.product-image{
  width:100px;
  height: 100px;
}
.name-product{
  font-weight: bold;
  text-align: left;
}
.price{
  font-weight: bold;
  font-size: 20px;
}
.circle-quantity{
  background-color: #d5dbe4ef;
  width:35px;
  height:35px;
  border-radius: 100%;
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
  margin-left: 50%;
}

.setting-data-address {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.clear-data-address {
  text-align: end;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.bg-reservation {
  background-color: #f5f5f5;
  border-radius: 2px;
}
.titel-booking {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bg-titel-booking {
  background-color: #f6f9fe;
  color: #8facdd;
  font-size: small;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #8facdd;
}
.content-booking {
  background-color: white;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #dee2e6;
  margin-top: 15px;
}
.booking-tab .nav-link,
.booking-tab .nav-link.active {
  color: black;
  background-color: white;
  border-bottom-color: #69b767;
  padding-left: 20px;
  padding-right: 20px;
}
.booking-tab .nav-link {
  background: 0 0;
  border-bottom: 5px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0rem;
}
.booking-recent-form {
  padding-left: 20px;
  padding-right: 20px;
}
.booking-recent-input {
  border-radius: 6px;
}
.search-booking {
  background-image: linear-gradient(
    to right,
    rgba(0, 221, 111, 0.856),
    rgba(4, 148, 100, 0.733)
  );
  background-color: rgba(8, 214, 8, 0.836);
  border-color: white;
  font-weight: bold;
  width: 80px;
  height: 31px;
  font-size: 15px;

}
.search-booking:focus,
.search-booking:hover,
.search-booking:active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
  box-shadow: 0 0 0 0.25rem rgba(8, 214, 8, 0.836);
}
.reservation-number {
  font-size: small;
}
.reservation-recent {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-color: #f5f5f5;
  padding: 30px;
}
.reservation-recent-booking {
  font-size: small;
  color: #a9adb0;
  text-align: end;
}
.reservation-recent-price {
  font-size: 20px;
  color: #6cbe5b;
}
.reservation-recent-title {
  font-size: 22px;
  font-weight: bold;
}
.reservation-recent-detail {
  margin-top: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dee2e6;
}
.checkin-out {
  color: #a9adb0;
  margin-top: 15px;
  font-size: 15px;
}
.day-checkin-out {
  color: black;
  font-weight: bold;
} 
