


.LoginWithEmail{
    background: #c9e7e7;
    background-size: cover;
    text-align: center;
  }
.inputLogin{
    margin-top: 5% ;
    margin-left: 20% ;
    margin-bottom:10% ;
    margin-right: 20% ;
    padding: auto;
    background-color: white;
    border-radius: 6px;
    display: inline-block;
}


.btn-Email-Login{
    border-radius: 6px;
    background-image: linear-gradient(
        to right,
        rgba(0, 221, 111, 0.993),
        rgb(11, 166, 187)
      );
    color: whitesmoke;
    margin: 10px 0 30px;
    padding: 12px;
    width: 35%;
    border: none;
   
}
.btnGoogle{
    margin: 10px 0 5px;
    padding: 10px;
    width: 40%;
   
}
.btnFacebook{
    margin: 0px 0 5px;
    padding: 10px;
    width: 40%;
   
}
.btnLine{
    margin: 0px 0 30px;
    padding: 10px;
    width: 40%;
}

