.provincedetail-body{
    margin-top: 30px;
    margin-bottom: 40px;
}
.Provincetitel-location{
    font-size: small;

}
.provincetitel-title-price{
    margin-top: 30px;
    margin-bottom: 30px;
}
.provincedetail-detail{
    font-size: 14px;
    margin-bottom: 20px;
}
.provincedetail-img{
    padding: 1px;
    
}